.nav {
  width: 85%;
  text-align: center;
  padding: 1em;
}

.nav > a {
  text-decoration: none;
  padding: 0 1em;
}

.nav > a.visited {}

.nav > a.active, .nav > a:hover {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

